<!DOCTYPE html>
<html>
<head>
	<title>Password Manager</title>

	{% load static %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<script src="{% static '/main/pbkdf2.js' %}"></script>	
	<script src="{% static '/main/aes.js' %}"></script>	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/main/style.css' %}">

</head>

<body>
	<div class="container">
		<div id="header">
			<center><h1><b>Password Manager<b></h1></b></b></h1></center>
			
			<div id="settings" style="visibility: hidden; height: 0px;"> <!-- only visible as soon as the user logs in-->
				<div class='row'>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<b>Add </b>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input name="title" placeholder="Title">
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input name="url" placeholder="Url">
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input name="name" placeholder="Username">
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input name="pass" placeholder="Password">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input type="button" value="Apply" onclick="add_to_db(this.parentNode.parentNode.children[2].children[0].value,this.parentNode.parentNode.children[3].children[0].value,this.parentNode.parentNode.children[4].children[0].value,this.parentNode.parentNode.children[1].children[0].value); clearInput(this.parentNode.parentNode)">
					</div>

				</div>
				<div class='row'>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<b>Remove </b>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input name="title" placeholder="Title">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input type="button" value="Apply" onclick="remove_from_db(this.parentNode.parentNode.children[1].children[0].value);clearInput(this.parentNode.parentNode)">
					</div>
				</div>
			</div>
		</div>
		<div class="contents">
			<div>
				
				<div class="accountDetails"> 
					<h2>Register:</h2>
					<form id="register">
						{% csrf_token %}	
						<div class="row" name="Email">
							<label class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >Email:</label>
							<input type="Email" name="content">
						</div>
						<div class="row" name="Password">
							<label class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Password:</label>
							<input type="Password" name="content">
						</div>
						<input type="button" onclick="p('new');" value="SEND">
					</form>
				</div>
				<br>
				<div class="accountDetails"> 
					<h2>Login:</h2>
					<form id="login">
						{% csrf_token %}
						<div class="row" name="Email">
							<label class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Email:</label>
							<input type="Email" name="content">
						</div>
						<div class="row" name="Password">
							<label class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Password:</label>
							<input type="Password" name="content">
						</div>
						<input type="button" onclick="p('existing');" value="SEND">
						<h5>Examplecredentials:<br>Email = example@user.com<br>Password = 1234</h5>
						
					</form>
				</div>
				<br>
				<b><h3 id="errorMessage" style="color: red;"></h3></b>
			</div>
		</div>
		<p>Niklas Ziermann - Copyright © 2019 - <a target="_blank" rel="noopener noreferrer" href="https://n-ziermann.github.io/contact.html" style="text-decoration: none; color: white;"><b>Impressum</b></a> - <a target="_blank" rel="noopener noreferrer" href="https://n-ziermann.github.io/" style="text-decoration: none; color: white;"><b>Portfolio</b></a></p>
	</div>

</body>

<script type="text/javascript">


		var csrftoken = getCookie('csrftoken');


		function clearInput(obj){
			for (i = 0; i<obj.children.length - 1;i++){ // -1 so the button doesnt get cleared
				obj.children[i].children[0].value = ""
			}
		}


		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}


		function display_vault(){
			//clear page
			var contents = document.getElementsByClassName("contents")[0];
			contents.innerHTML = "";
			
			//change header
			document.getElementById("settings").style = "background-color: var(--secondary-color);box-shadow: 4px 6px var(--shadow-color); margin-bottom:10px;";

			//append every saved website to page 
			for (var site in vault){	// setup a seperate field for each registered password (done through createElement to avoid xss)
				
				var outerCon = document.createElement("div"); // contains all the info about each entry
				outerCon.className = "row site";
				
				var nameCon = document.createElement("div"); // contains Title
				var nameBold = document.createElement("b");	// makes title stick out
				nameBold.innerText = site;
				nameCon.appendChild(nameBold)
				nameCon.className = "col-lg-3 col-md-3 col-sm-3 col-xs-3 prim"	// determines width and color
				outerCon.appendChild(nameCon)
				
				for (i=0;i<3;i++){ //append other 3 points of info
					var div = document.createElement("div");
					div.innerText = vault[site][i]
					if (i%2 == 0)
						div.className = "col-lg-3 col-md-3 col-sm-3 col-xs-3 sec"	//colors change every other block to improve readablity
					else
						div.className = "col-lg-3 col-md-3 col-sm-3 col-xs-3 prim"
					outerCon.append(div)
				}
				contents.append(outerCon) // put everything on the page
			}
		}


		function encrypt_and_send_vault(){
			const request = new XMLHttpRequest();
			request.open('POST', '/');
			request.setRequestHeader("X-CSRFToken", csrftoken);
			const data = new FormData();
		    data.append('type', "change")
    		data.append('Email', mail);
    		data.append('Password', dbKey);
    		updated_vault = JSON.stringify(vault);
    		updated_vault = CryptoJS.AES.encrypt(updated_vault, vaultKey).toString();
    		data.append('Vault', updated_vault);
    		request.send( data );
		}


		function p(type){
			//select form from which data will be read
			if (type == "new"){
				form = document.getElementById("register");
			}
			else{
				form = document.getElementById("login");
			}
		    
		    // Open request
		    const request = new XMLHttpRequest();
		    request.open('POST', '/');
		    
		    // Include csrf token in header so Django will accept the request
		    request.setRequestHeader("X-CSRFToken", csrftoken);
		    
		    //get data from form
		    mail = form.children.Email.children.content.value;
		    password = form.children.Password.children.content.value;
		   
		    //hash (dbKey = Login; vaultKey = en-/decrypt vault)
		    vaultKey = CryptoJS.PBKDF2(password,mail,{keySize: 256 / 32, iterations: 500}).toString();
		    dbKey = CryptoJS.PBKDF2(vaultKey,password,{keySize: 256 / 32, iterations: 500}).toString();
    		
    		//save data from form
		    const data = new FormData();
		    data.append('type', type)
    		data.append('Email', mail);
    		data.append('Password', dbKey);
    		
    		if (type == "new"){	//if the account is new then a vault must be created and encrypted aswell
    			//create vault
    			vault = JSON.stringify({});
    			//encrypt vault and turn into string
    			vault = CryptoJS.AES.encrypt(vault, vaultKey).toString();
    			//save vault
    			data.append('Vault', vault);
    		}
		    
		    request.send( data );

		    request.onreadystatechange=(e)=>{
		    	r = request.responseText;
		    	if (r.substring(0, 6) != "Vault:"){
		    		if (r == "User created!"){	// if registration successfull: log user in | else: display error
		    			vault = {}
		    			display_vault()
		    		}
		    		else{
		    			document.getElementById("errorMessage").innerText = r;
		    		}

		    	}
		    	else{	//if user logged in successfully and got his vault sent back
		    		encrypted_vault = r.substring(6, r.length)
		    		//turn vault back into object
		    		vault_text = CryptoJS.AES.decrypt(encrypted_vault, vaultKey).toString(CryptoJS.enc.Utf8);
		    		vault = JSON.parse(vault_text)
		    		display_vault()
		    	}
		    }
		}


		function add_to_db(url, username, password, name){
			if (name == undefined || name == ""){
				name = url;
			}
			info = [url, username, password]
			vault[name] = info
			encrypt_and_send_vault()
			display_vault()
		}


		function remove_from_db(name){

			delete vault[name]
			encrypt_and_send_vault()
			display_vault()
		}
	
	</script>
</html>
