<!DOCTYPE html>
<html>
<head>
	<title>Password Manager</title>

	{% load static %}
	<script src="{% static '/main/pbkdf2.js' %}"></script>	
	<script src="{% static '/main/aes.js' %}"></script>	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/main/style.css' %}">

</head>

<style type="text/css">
	#header div{
		border: solid;
	}
	#header div div{
		border: none;
	}
	#header div label{
		margin-left: 5px; 
		margin-right: 5px;
	}
	#header div b{
		margin-left: 5px;
	}
	#header input{
		width: 100%;
	}

</style>


<body>
	<div class="container" style="background-color: yellow; width: 80%; padding: 20px 20px 20px 20px;">
		<div id="header">
			<center><h1><b>Password Manager<b></h1></b></b></h1></center>
			
			<div id="settings" style="visibility: hidden; height: 0px;">
				<div class='row'>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<b>Add </b>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input name="title" placeholder="Title(optional)">
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input name="url" placeholder="Url">
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input name="name" placeholder="Username">
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input name="pass" placeholder="Password">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<button onclick="add_to_db(this.parentNode.parentNode.children[2].children[0].value,this.parentNode.parentNode.children[3].children[0].value,this.parentNode.parentNode.children[4].children[0].value,this.parentNode.parentNode.children[1].children[0].value); clearInput(this.parentNode.parentNode)">Apply</button>
					</div>

				</div>
				<div class='row'>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<b>Remove </b>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<input name="title" placeholder="Title">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<button onclick="remove_from_db(this.parentNode.parentNode.children[1].children[0].value);clearInput(this.parentNode.parentNode)">Apply</button>
					</div>
				</div>
			</div>
		</div>
		<div class="contents">
			<div>
				
				<div style="background-color: green; padding:10px; border: solid;"> 
					<h2>Register:</h2>
					<form id="register">
						{% csrf_token %}	
						<div class="row" name="Email" style="border:none;">
							<label class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >Email:</label>
							<input type="Email" name="content">
						</div>
						<div class="row" name="Password" style="border:none;">
							<label class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Password:</label>
							<input type="Password" name="content">
						</div>
						<input type="button" onclick="p('new');" value="post">
					</form>
				</div>
				<br>
					<div style="background-color: orange; padding:10px; border: solid;"> 
					<h2>Login:</h2>
					<form id="login">
						{% csrf_token %}
						<div class="row" name="Email" style="border:none;">
							<label class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Email:</label>
							<input type="Email" name="content">
						</div>
						<div class="row" name="Password" style="border:none;">
							<label class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Password:</label>
							<input type="Password" name="content">
						</div>
						<h5 style="margin-top: 15px;">Examplecredentials: Email = example@user.com  Password = 1234</h5>
						<input type="button" onclick="p('existing');" value="post" style="margin: 5px 0 10px 0;">
						
					</form>
				</div>
				<br>
				
				<br>
				<b><h3 id="errorMessage" style="color: red;"></h3></b>
			</div>
		</div>
	</div>

</body>

<script type="text/javascript">

		function clearInput(obj){
			for (i = 0; i<obj.children.length;i++){
				obj.children[i].children[0].value = ""
			}
		}

		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');



		function display_vault(){
			//clear page
			var contents = document.getElementsByClassName("contents")[0];
			contents.innerHTML = "";
			//change header
			document.getElementById("settings").style = "";



			//append every saved website to page 
			for (var site in vault){
				contents.innerHTML += "<div class=\"row\"><div class=\"col-lg-3 prim\"><b>" + site + "</b></div><div class=\"col-lg-3 sec\">" + vault[site][0] + "</div><div class=\"col-lg-3 prim\">" + vault[site][1] + "</div><div class=\"col-lg-3 sec\">" + vault[site][2] + "</div></div>";
			}
		}


		function encrypt_and_send_vault(){
			const request = new XMLHttpRequest();
			request.open('POST', '/');
			request.setRequestHeader("X-CSRFToken", csrftoken);
			const data = new FormData();
		    data.append('type', "change")
    		data.append('Email', mail);
    		data.append('Password', dbKey);
    		updated_vault = JSON.stringify(vault);
    		updated_vault = CryptoJS.AES.encrypt(updated_vault, vaultKey).toString();
    		data.append('Vault', updated_vault);
    		request.send( data );
		}

		function p(type){
			//select form from which data will be read
			if (type == "new"){
				form = document.getElementById("register");
			}
			else{
				form = document.getElementById("login");
			}
		    
		    // Open request
		    const request = new XMLHttpRequest();
		    request.open('POST', '/');
		    
		    // Include csrf token in header so Django will accept the request

		    request.setRequestHeader("X-CSRFToken", csrftoken);
		    
		    //get data from form
		    mail = form.children.Email.children.content.value;
		    password = form.children.Password.children.content.value;
		   
		    //hash (dbKey = Login; vaultKey = en-/decrypt vault)
		    vaultKey = CryptoJS.PBKDF2(password,mail,{keySize: 256 / 32, iterations: 2500}).toString();
		    dbKey = CryptoJS.PBKDF2(vaultKey,password,{keySize: 256 / 32, iterations: 2500}).toString();
    		
    		//save data from form
		    const data = new FormData();
		    data.append('type', type)
    		data.append('Email', mail);
    		data.append('Password', dbKey);
    		
    		if (type == "new"){	//if the account is new then a vault must be created and encrypted aswell
    			//create vault
    			vault = JSON.stringify({});
    			//encrypt vault and turn into string
    			vault = CryptoJS.AES.encrypt(vault, vaultKey).toString();
    			//save vault
    			data.append('Vault', vault);
    		}
		    
		    request.send( data );

		    request.onreadystatechange=(e)=>{
		    	r = request.responseText;
		    	console.log(r);
		    	if (r.substring(0, 6) != "Vault:"){
		    		document.getElementById("errorMessage").innerHTML = r;
		    	}
		    	else{	//if user logged in successfully and got his vault sent back
		    		encrypted_vault = r.substring(6, r.length)
		    		//turn vault back into object
		    		vault_text = CryptoJS.AES.decrypt(encrypted_vault, vaultKey).toString(CryptoJS.enc.Utf8);
		    		vault = JSON.parse(vault_text)
		    		display_vault()
		    	}
		    }
		}

		function add_to_db(url, username, password, name){
			if (name == undefined || name == ""){
				console.log(url)
				name = url;
			}
			console.log(name)
			info = [url, username, password]
			vault[name] = info
			console.log(vault)
			encrypt_and_send_vault()
			display_vault()
		}

		function remove_from_db(name){
			delete vault[name]
			encrypt_and_send_vault()
			display_vault()
		}

		//EXAMPLECREDENTIALS

		// example@user.com 
		// 1234

		/*
		turn data into vault: 		vault = JSON.stringify({})

		encrypt vault: 				vault = CryptoJS.AES.encrypt(vault, vaultKey)

		turn into string: 			vault = vault.toString()

		decrypt vault: 				vault = CryptoJS.AES.decrypt(vault,vaultKey)

		turn into parsable string: 	vault = vault.toString(CryptoJS.enc.Utf8)

		turn into data: 			vault = JSON.parse(vault)
		*/
		
	</script>
</html>
